/* Dashboard.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  html, body {
    height: 100%;
    align-items: center;
    justify-content: center;
}

  .dashboard {
    display: flex;
    flex-direction: column;
    height: 100%;  /* Full viewport height */
    width: 100%;
  }
  
  .header {
    width: 100%;
    text-align: center;
    background-color: #ff9999;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  .filter-section {
    width: 90%; /* Increase width for more screen coverage */
    max-width: 1200px; /* Set a maximum width for larger screens */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 60px;
  }
  
  .filter-icon {
    display: flex;
    align-items: center;
  }
  
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: 400px;  /* Fixed height */
    padding: 10px;
    margin-left: 60px;
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 200px;
  }
  
  .card-header {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .card-info {
    margin: 10px 0;
    font-size: 14px;
  }
  
  .card-actions button {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ff9999;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .card-actions button:hover {
    background-color: #ddd;
  }
  